<div class="container text">
	<div class="row">
		<div class="col-xs-12">
			<h1>ABOUT US</h1>
			<p>
			GuarantorMyLoan.co.uk is a loan lender with a difference, providing affordable guarantor loans to borrowers in the UK. Founded in Norwich and trading since August 2014, we have grown and developed into one of the more innovative and popular loan lenders in the market today. We’re proud of our pioneering peer-to-peer lending model, which benefits both lenders and borrowers who are looking for more affordable rates than they could maybe get elsewhere.
			</p>
			<p>
			As with all reputable UK loan lenders, we’re authorised and regulated by the FCA (<a href="http://www.fca.org.uk/">Financial Conduct Authority</a>). The FCA ensures that we work to a code of conduct, that we treat our customers fairly and that we lend within the law. This means that we here at GuarantorMyLoan.co.uk always make sure both the borrower and the guarantor can afford the loan repayments and that they understand how the loan works before moving forwards. We take our status as a responsible lender very seriously, and we’re proud to be helping responsible borrowers who may have been turned down elsewhere.
			</p>
			<p>
			We’re also a member of the CCTA (<a href="http://www.ccta.co.uk/index.aspx">Consumer Credit Trade Association</a>), and therefore are bound to follow their Code of Practice for loan lenders. The CCTA guide us in competence and compliance with the industry standard, and as such they’re an invaluable support to us.
			</p>
			<p>
			The way we do things is different to other loan lenders, as we use a peer-to-peer model. This means that individuals can lend with us and get favourable rates in return for their money being lent out to our borrowers. This has been successfully done in other areas of the lending market for some time, and it’s a system which works extremely well for our customers on both sides of the equation.
			</p>
			<p>
			As well as being an innovative lender, we also pride ourselves in offering loans in an affordable way. Payday lenders (and other types of shorter term credit which are aimed at those with a less-than-perfect credit history) can have prohibitively extortionate rates and difficult repayment terms. We offer loans of up to £5,000 payable in monthly instalments over 1-5 years depending on the amount borrowed. The monthly payments are split into equal manageable chunks and as long as each monthly payment is completed in full and on time, we’ll give your guarantor 1 months’ worth of loan instalment back at the end of the loan term.
			</p>
			<p>
			If you have any questions about our guarantor loans, the application process, being a guarantor or saving with us, you can find a lot of answers in our <a href="#faq">FAQ</a> section. Alternatively, you’re always welcome to contact us directly on 01603 561110, via our <a href="#contact-us">Contact Form</a>. Our friendly, knowledgeable team will be happy to answer any queries. 
			</p>			
		</div>
	</div>
</div>
