			<div class="promo container">
				<div class="row">
					<div class="col-sm-8">
						<ul>
							<li>Borrow up to <b>&pound;5,000</b> with a <b>Homeowner</b> guarantor</li>
							<li>We could help event if you have <b>Bad Credit</b> </li>
							<li><b>Fixed rates</b> so your payments won't change</li>
							<li>Ask about our <b>Guarantor Cashback</b> reward</li>
							<li>We offer <b>Weekly</b> and <b>Fortnightly</b> payment options</li>
						</ul>
						<p>REPRESENTATIVE 48.9% APR*</p>
						<small>*Representative Example &pound;3000 over 36 months, representative 48.9% APR fixed. Monthly payment &pound;145.17. The interest is 10% per annum fixed and service fee is 30.46% per annum fixed. Interest payable &pound;519.21 and service fee payable &pound;1676.17. Total repayable &pound;5,226.12</small>
					</div>
					<div class="col-sm-4" style="text-align:center"><img src="img/men-sm.png"></div>
				</div>
			</div>
