<div class="container text">
	<div class="row">
		<div class="col-xs-12">

			<!-- Embedding Banner: -->
			<section data-bind="compose:'gml/banner.html'"></section>

			<h1>FREQUENTLY ASKED QUESTIONS</h1>


			Here are the answers to some of the questions we are often asked

			<h3>CAN I GET A LOAN WITHOUT A GUARANTOR?</h3>

			Sorry, you can’t. GuarantorMyLoan.co.uk only do guarantor loans – we’re specialists and that’s what makes us dedicated to what we do.


			<h3>DO I NEED A GUARANTOR BEFORE I APPLY?</h3>

			No, but the process is much faster if you do. As you will require one before you get your loan it is worth talking now to someone you think will be able to stand as your guarantor.


			<h3>HOW IS YOUR LOAN FUNDED?</h3>

			At GuarantorMyLoan.co.uk we operate on a peer to peer platform, matching lenders to borrowers. Peer-to-peer lending means lending money to individuals or "peers", without going through a traditional financial intermediary such as a bank or other financial institution. 


			<h3>HOW LONG BEFORE I RECEIVE MY LOAN?</h3>

			We aim to get the money into your guarantor’s account the same day that your application is accepted and cleared.


			<h3>CAN I PAY MY LOAN OFF EARLY?</h3>

			Yes, with no additional charges. You can pay the full outstanding balance off and simply pay any interest and service fees due up to that point – not a penny more.


			<h3>HOW DOES A GUARANTOR LOAN WORK?</h3>

			Guarantor loans are rising in popularity and are becoming one of the more well-known ways for people to get credit when they have previously been turned down elsewhere. The UK is still recovering from the recession that began in 2008, and no matter what politicians say about the state of the economy, things can still be difficult for the average person on the street. The banks, unfortunately, are still very wary about lending money, so those who have a less-than-perfect credit history and those who have never borrowed money before often find it hard to be approved for loans. It’s a bit of a catch-22 situation: you are turned down for credit because you have a poor credit history, but you need to borrow money and demonstrate that you can pay it back properly in order to improve your credit file. So where can you turn?

			Guarantor loans can help to bridge the gap and give those who would be turned down elsewhere the opportunity to not only borrow a wide range of credit amounts, but also pay back over a practical period of time, keeping the instalments manageable and helping them to build up a good credit history. While the concept of having someone ‘vouch’ for your ability to repay the loan in full and on time may seem unusual, it’s actually one of the most traditional forms of credit and was once very common indeed.

			<h3>GUARANTOR LOANS AT-A-GLANCE</h3>

			A guarantor loan is a type of unsecured loan, which means that you do not have to use any of your valuables as security on the loan. The loan is not secured against your home either, so you don’t have to be a homeowner in order to apply. You will, however, need a guarantor. This is usually a close friend or family member who can vouch for you. Their role as guarantor means that they’ll be liable to pay for any loan instalments that you miss and as such it’s not to be taken lightly. Although this may sound scary, the majority of guarantors don’t have to step in and the only involvement they have is during the application process. It’s free to be a guarantor and they will only have to pay if the borrower does not.

			With GuarantorMyLoan.co.uk, you can borrow between £1,000 and £5,000 over 1-5 years, depending on the loan amount. We <a href="#application-page-1">welcome you to experiment</a> with the different loan amounts and repayment periods to see how much the monthly instalments are and how much you’ll pay overall. Once you’ve found the right balance of loan amount and repayment term for your needs it takes just a few minutes to apply.

			<h3>HOW QUICKLY CAN I RECEIVE A GUARANTOR LOAN?</h3>

			The application process should only take a few minutes for both you and your guarantor, and once we have received a completed application we will aim to get in touch with you within 1 hour during office hours. We operate as a responsible lender, and this means that we will need to speak to both you and your guarantor over the phone in order to make sure we have the correct details and to ask a few further questions as required by law. This helps us to prevent fraud and protects our customers.

			Once we are happy and have approved your application, we will aim to get the money paid out on the same day, giving you the convenience of receiving your loan quickly but whilst also balancing this with responsible lending practices. We’ll make sure you are supported every step of the way, so if you have any questions before, during or after the application process then we encourage you to <a href="#contact-us">get in touch</a>.

			<h3>HOW DO I APPLY?</h3>

			To apply for a guarantor loan with us, simply head to our Apply page and follow the simple steps. You’ll be able to tailor your loan amount and loan term to suit your needs beforehand so you know exactly what you’re applying for. When choosing a loan amount and loan term, pay close attention to the monthly instalment amount. This is the amount you’ll need to pay back to us for every month of the loan term and it’s important that this is affordable for you.


			<h3>WHAT MAKES GUARANTORMYLOAN.CO.UK DIFFERENT?</h3>

			Here at GuarantorMyLoan.co.uk we like to reward our best customers, so if you pay every instalment in full and on time, we’ll give you cashback once the loan has been paid off. This will be the equivalent of 1 month’s payment and will be paid with no strings attached – it’s simply a thank you from us to you for managing the loan so well. No other guarantor loan company does this. We also do not charge extra fees and there are no hidden charges either. What you see is what you get and we are committed to making the full process as simple and stress-free as possible. Apply or get in touch today to find out more. 

			<h3>HOW MUCH CAN YOU BORROW?</h3>

			With GuarantorMyLoan.co.uk, you can borrow from £1000 to £5000 over 1 to 5 years. This means that you can tailor your loan amount and loan term in order to suit your needs. For example, you may want to borrow £3,000, but how much you pay back each month will depend on the loan term you choose. If you want to get the repayments out of the way within a year, then you’ll make 12 monthly payments of £308.14. For those who want to keep the repayment amount down and don’t mind paying it off over a longer period of time, then you can opt for longer. For example, borrowing £3,000 over 3 years will mean you have to make a payment of just £145.17 per month. Paying this same amount back over 5 years would mean monthly payments of £117.21. You can use the handy sliders on our website to play around with amounts and loan terms before you apply in order to see what combination would be best for you.

			<h3>HOW LONG CAN YOU BORROW IT FOR?</h3>

			Depending on the amount you want to borrow, you can opt to pay back your loan from 12 months to 5 years (60 months). As mentioned above, the length of time it takes to pay off your loan affects the amount you’ll have to pay as monthly instalments. It’s important to consider this carefully before applying, as loans which would be unaffordable for the borrower are likely to be turned down.

			<h3>HOW LONG DOES IT TAKE?</h3>

			The application takes just 5 minutes and if you apply during opening hours then we will aim to call you back within just one hour. Once we are happy that your application is complete we will be able to get the money to you on the same day.  

			<h3>ARE THERE ANY EXTRA FEES OR CHARGES?</h3>

			What you are quoted is what you pay. Your monthly payment includes the interest you pay to our lenders and service fee you pay to cover the cost of running the platform and funding the reserve fund.

			<h3>WHAT HAPPENS IF THE LOAN instalmentS AREN’T PAID?</h3>

			When a loan instalment doesn’t come in on time, we will first try to contact the borrower to make sure that they’re aware. We will always try to find a solution with the borrower before contacting the guarantor, but if we can’t get hold of the borrower or a solution cannot be found, then the guarantor will be contacted to make the payment. If a payment is ever made by the guarantor in this way, we won’t assume that will be the way it is paid from then onwards and will always leave the guarantor as a last resort option.

			If you fail to pay a monthly repayment, we may charge you a fee of £11.50 for each month (or part of a month) that any repayment remains overdue.

			<h3>WHAT HAPPENS IF I CAN'T KEEP UP WITH THE REPAYMENTS?</h3>

			If you find yourself in difficulties, we will try and work out a solution with you on the phone. Because our service is personal and flexible, we are more likely to be able to offer you a way to pay that overcomes the problem without having to contact your guarantor. It's only if we can't reach a solution that your guarantor will need to make a repayment for you.

			<h3>WHO CAN BE MY GUARANTOR?</h3>

			Your guarantor should be chosen carefully, as they must fit into the following criteria – they must own their own home, have a good credit history and have enough income each month to cover the loan repayments just in case they are asked by us to step in. They must also have an active UK bank account and be at least 21 years old and no older than 75 by the end of the loan term.

			The guarantor would only ever be contacted by us during the application process (so that we can be sure that they’re happy to proceed and for fraud prevention purposes) and in the unlikely event that a payment is missed.

			Many people choose a close friend or family member (such as a parent or sibling) to act as a guarantor on their loan. As long as they fit the criteria above, and we’re happy that the application looks good (i.e. that both the borrower and the guarantor have passed all checks and have the means to pay the loan) then they can be your guarantor. 



		</div>
	</div>
</div>




