<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-2">
                <a href="#">Home</a>
                <a href="#about-us">About Us</a>
                <a href="#contact-us">Contact Us</a>
                <a href="#faq">FAQ</a>
            </div>

            <div class="col-xs-4 col-sm-2">
                <a href="#privacy-policy">Privacy Policy</a>
                <a href="#terms-n-conditions">Website Terms &amp; Conditions</a>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="title">Office Times</div>
                <div>Monday to Thursday 9:00am to 8:00pm</div>
                <div>Friday 9:00am to 6:00pm</div>
                <div>Saturday 9:00am to 1:00pm</div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="title">Do you have any questions?</div>
                <br/>
                <button class="btn" onclick="window.location.hash='#faq';">Visit FAQ</button>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="title">Application &amp; Enquires</div>
                <div><i class="fa fa-phone" aria-hidden="true"></i><span class="phone">01603 561110</span></div>
            </div>
        </div>
    </div>
</div>
<div class="legend">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                &copy; 2015 Match the Cash Ltd trading as GuarantorMyLoan.co.uk. We are authorised and regulated by the Financial Conduct Authority. Interim Licence 661304<br/>
                Registered in England as Match The Cash Ltd. Registration Number: ZA055459 (ICO)<br/>
                Registered Office: MATCH THE CASH LIMITED ACRE HOUSE, 11/15 WILLIAM ROAD, LONDON, UNITED KINGDOM, NW1 3ER. Company No. 08667447
                </p>
            </div>
        </div>
    </div>
</div>
