<!-- Inserted into parent -->
<div class='row clearfix transition'>
	<div class='col-sm-1 '>
		<div class='center-block slide-index' >
		</div>
	</div>
	<div class='col-sm-3 '>
		<div class='center-block slide-glyph'>
			<img src='../img/glyph-effect-basic1.png' width='144px' height='81px' class='center-block'/>
		</div>
	</div>
	<div class='col-sm-6'>
		<div class='center-block slide-props'
			data-bind='template: { html: $root.selectAssetExtTemplate("transition-basic") }'> 
		</div>
	</div>
	<div class='col-sm-1'>
		<div class='gutter'>
			<div style="margin-top:10px;">
				<span class='glyphicon glyphicon-trash metaclass-remove-transition' role='button'></span><br/><br/>
			</div>
		</div>
	</div>
</div>
