body {
	padding-top: 0;
}

section {
	margin: 0;
}

.page-host {
/*	left: 20px;
	right: 20px;
*/	margin-top: 100px;
	overflow-y: visible;
	overflow-x: visible;
}

img.logo {
	width:auto;
}

.header {
	border-bottom:none;
}

.navbar {
	border-radius: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.banner-text {
	font-size: 20px;
	line-height: 20px;
	padding-left: 15%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;

	background-color: #272460;
	color: #ffffff;
}


.nav-tabs {
	width: 100%;
	background: #03A79D none repeat scroll 0 0;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-tabs > li > a {
	/*background: inherit;*/
	cursor: default;
	text-transform: uppercase;
	padding-bottom: 0px;
	height: 35px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	background: #272460 none repeat scroll 0 0;
}

.nav-tabs {
	padding-left: 10%;
	padding-right: 10%;
}

.tab-content {
/*	margin-left: 15px;
	margin-right: 15px;
*/
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;

	/*border: 3px #272460 solid;*/
	border-radius: 5px;

	/*background: #272460 none repeat scroll 0 0;*/
}


.form-group {
	margin-top: 10px;
    margin-bottom: 15px;
}


.header .main-navbar {
	margin-left: 15%;
	/*margin-right: 15%*/
}

#gl-logo {
	margin-left: -40px;
}


/* update "page-host" to display footer after it:*/
.page-host {
	position: static;
	margin-top: 0;
}

.footer {

	margin-top: 30px;
	padding-bottom: 30px;

	padding-left: 13%;
	padding-right: 13%;

	background-color: #272460;
	color: #ffffff;
	width: 100%;
	font-family: Verdana, Tahoma, Helvetica, Arial;
	font-size: 12px;
}

.footer .btn {
	background-color: #03A79D;
	color: #ffffff;
}

.footer a {
	display: block;
	color: #ffffff;
	/*text-decoration: none;*/
	cursor: pointer;
}

.footer .title, .footer button.btn {
	font-size: 16px;
	font-weight: bold;
}

.footer a, .footer div, .footer button {
	margin-bottom: 5px;
}

.footer button.btn {
	width: 70%;
}

.footer .fa.fa-phone {
	font-size: 40px;
	color: #03A79D;
}

.footer .phone {
	font-size: 18px;
	margin-left: 5px;
}

#app-form .panel {
	margin-top: 10px;
/*	margin-left: 20px;
	margin-right: 20px;
*/
	margin-left: 15%;
	margin-right: 15%
}

/* tabs for all applications forms.
	use the padding which equals to .panel margins
*/
.nav.nav-tabs.app-form-tabs {
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 1px;
	/* spacing after nav: */
	margin-top: 15px;
	/* add spacing before content: */
	margin-bottom: 30px;
}

.panel.panel-default {
	border: 2px #272460 solid;
}

.panel-default > .panel-heading {
	/*padding-top: 20px;*/
	/*background: transparent;*/
	border-bottom: 0px;

	font-weight: bold;
	color: rgba(255,255,255,0.9);
	background: #272460 none repeat scroll 0 0;

}

.panel-default > .panel-body {
/*	padding-left: 30px;
	padding-right: 30px;
*/
	padding-left: 5%;
	padding-right: 5%;
}



.form-control, .input-group > span {
	border: 1px solid #999;
}

label.control-label {
	font-size: 12px;
}

/*.tab-content > .tab-pane > form  {
	border: none;
	background-color: white;
	padding-top: 0px;
	margin-bottom: 10px;
}
*/
.proceed-button {
	/*display:table-cell;*/
	position: relative;
	/*margin: 20px;*/
	margin-bottom: 15px;
	margin-left: 15%;
	margin-right: 15%;
	width:70%;
	/* "Large" button: */
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
}

.error-message {
	color: #ff0000;
}

/*.autocomplete-suggestions {
	background-color: #ffffff;
	border: 1px solid #333333;
	max-height: 250px;
	overflow-y: auto;

}

.autocomplete-suggestion.autocomplete-selected {
	background-color: rgba(0,128,255,1);
	color: rgba(200,200,200, 1);
}
*/


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.autocomplete-ajax-wait::after {content:'Wait';}

/*.input-group.date {
	display: block;
	margin-left: 0;
	margin-right: 0;
}

.input-group.date > .col-xs-3,
.input-group.date > .col-xs-6 {
	padding-left: 0;
	padding-right: 0;
}
*/
.loan-summary .alert {
	font-size: 18px;
	/*font-weight: bold;*/
	width: 100%;
	text-align: center;
}

/* date combo input*/
.date .form-group select {
	/*padding:0px;*/
	padding-right: 5px;
	padding-left:5px;
}

.date .form-group {
	margin-right:1%;
	margin-left:1%;
}

.date .form-group:first-child {
	margin-left:0;
}

.date .form-group.birth_day {
	width: 27% !important;
	float: left !important; 
}
.date .form-group.birth_month {
	width: 27% !important;
	float: left !important; 
}
.date .form-group.birth_year {
	width: 40% !important;
	float: left !important; 
}

/* invalid of incomplete field - coloring */
.incomplete-field {
	background-color: rgba(255,128,128,0.25);
}

.incomplete-field .glyphicon {
	color: rgb(255,0,0);
}


/* fix alignment for fields wit long labels*/

@media (min-width: 920px) {

	#app-form .row.align-to-bottom {
		display: flex;
		align-items: flex-end;
	}

}

/*transient layers/screens:*/
#app-splash, #interstitial {
	position:absolute;
	display:block;
	z-index:3000;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin- bottom: 0;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgb(2555,255,255);
}

/**/
.summary-item {
	border: 1px solid #3c763d;
}