<div class="header">
<!--     <div style="width:100%;background:#272460;">
        <div class="container">
            <div class="row">
                <div style="text-align:left;padding-top:10px;padding-bottom:10px;font-size:150%;color:#FFF;" class="col-md-6">
                    CALL US ON 01603 561110
                </div>
                <div style="font-size:100%;padding-top:10px;padding-bottom:10px;" class="col-md-6">

                </div>
            </div>
        </div>
    </div>
 -->
    <div class="banner-text">
        CALL US ON 01603 561110
    </div>

    <div class="navbar navbar-default main-navbar" role="navigation">
        <div class="container-fluid">
            <div class="col-sm-5">
                <div id="gl-logo">
                    <a href="/">
                        <img alt="Logo" src="img/GLlogo374.png" class="logo">
                    </a>
                </div>
            </div>
            <div class="col-sm-7 main-nav-container" id="GLMainNav">
                <div class="navbar-collapse collapse main-nav">
                    <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                        <li data-bind="visible: $index()>0" class="divider">|</li>
                        <li data-bind="css: { active: isActive }">
                            <a data-bind="attr: { href: hash }, text: title"></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="loader" data-bind="css: { active: router.isNavigating }">
                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>            
        

<!--     <div class="container-fluid">
        <div class="row">
            <div class="navbar navbar-default main-navbar" role="navigation">
                <div class="col-sm-5">
                    <div id="GLlogo">
                        <a href="/">
                            <img alt="Guarantor my Loan" src="img/GLlogo374.png" class="logo">
                        </a>
                    </div>
                </div>
                <div class="col-sm-7 main-nav-container" id="GLMainNav">
                    <div class="navbar-collapse collapse main-nav">
                        <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                            <li data-bind="css: { active: isActive }">
                                <a data-bind="attr: { href: hash }, text: title"></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="loader" data-bind="css: { active: router.isNavigating }">
                                <i class="fa fa-spinner fa-spin fa-2x"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </div>
 -->

<!--                 <div class="navbar-header">
                    <button data-target=".top-nav" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
 -->    
</div>


<!--     <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <i class="fa fa-home"></i>
                <span>Guarantor Loan</span>
            </a>
        </div>
    </nav>
 -->
<!--     <div class="container">
        <div class="row">
            <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
        </div>
    </div>
 -->
     
<div class="page-host" data-bind="router: { transition:'entrance' }"></div>

<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-2">
                <a href="#home">Home</a>
                <a href="#about-us">About Us</a>
                <a href="#contact-us">Contact Us</a>
                <a href="#faq">FAQ</a>
            </div>

            <div class="col-xs-4 col-sm-2">
                <a href="#privacy-policy">Privacy Policy</a>
                <a href="#terms-n-conditions">Website Terms &amp; Conditions</a>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="title">Office Times</div>
                <div>Monday to Thursday 9:00am to 8:00pm</div>
                <div>Friday 9:00am to 6:00pm</div>
                <div>Saturday 9:00am to 1:00pm</div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="title">Do you have any questions?</div>
                <br/>
                <button class="btn" onclick="window.location.hash='#faq';">Visit FAQ</button>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="title">Application &amp; Equires</div>
                <div><i class="fa fa-phone" aria-hidden="true"></i><span class="phone">01603 561110</span></div>
            </div>
        </div>
    </div>
</div>
<div class="legend">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                &copy; 2015 Match the Cash Ltd trading as GuarantorLoan.co.uk. We are authorised and regulated by the Financial Conduct Authority. Interim Licence 661304<br/>
                Registered in England as Match The Cash Ltd. Registration Number: ZA055459 (ICO)<br/>
                Registered Office: MATCH THE CASH LIMITED ACRE HOUSE, 11/15 WILLIAM ROAD, LONDON, UNITED KINGDOM, NW1 3ER. Company No. 08667447
                </p>
            </div>
        </div>
    </div>
</div>

