<div class="header">

    <div class="banner-text">
        CALL US ON 01603 561110
    </div>

    <div class="navbar navbar-default main-navbar" role="navigation">
        <div class="container-fluid">
            <div class="col-sm-5">
                <div id="gl-logo">
                    <a href="#">
                        <img alt="Logo" data-bind="attr:{src:logoImg}" class="logo">
                    </a>
                </div>
            </div>
            <div class="col-sm-7 main-nav-container" id="GLMainNav">
                <div class="navbar-collapse collapse main-nav">
                    <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                        <li data-bind="visible: $index()>0" class="divider">|</li>
                        <li data-bind="css: { active: isActive }">
                            <a data-bind="attr: { href: hash }, text: title"></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="loader" data-bind="css: { active: router.isNavigating }">
                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>            
           
</div>

<!-- Main Container: -->
<div class="page-host" data-bind="router: { transition:'entrance' }"></div>

<!-- Embedding Footer: -->
<section data-bind="compose:subfolder+'/footer.html'"></section>

