<div class="promo container">
	<div class="row">
		<div class="col-sm-8">
			<ul>
				<li>Exclusive Guarantor rate of <b>29</b>% <b>APR</b> for <b>Homeowners</b> with <b>Reasonable Credit</b></li>
				<li>Borrow up to <b>&pound;5,000</b> with a <b>Homeowner</b> guarantor</li>
				<li><b>Fixed rates</b> so your payments won't change</li>
				<li>Ask about our <b>Guarantor Cashback</b> reward</li>
				<li>Not a <b>Homeowner</b>? We can still help - <b><a href="https://gml.guarantorloan.co.uk/index.html">CLICK HERE</a></b></li>
			</ul>
			<p>REPRESENTATIVE 29.0% APR*</p>
			<small>*Representative Example &pound;3000 over 36 months, representative 29.0% APR fixed. Monthly payment &pound;120.46. The interest is 10% per annum fixed and service fee is 15.74% per annum fixed. Interest payable &pound;519.21 and service fee payable &pound;817.35. Total repayable &pound;4,336.56</small>
		</div>
		<div class="col-sm-4" style="text-align:center"><img src="img/men-sm.png"></div>
	</div>
</div>
