<div class="container text">
	<div class="row">
		<div class="col-xs-16">


<h1>Oops</h1>

<p>
The product you’ve applied for is only available to homeowners and you have said that you are not currently a homeowner. 

<p>
We’ve passed your details to our colleagues at GuarantorMyLoan.co.uk who have access to a broad range of guarantor loan products for non-homeowners.

<p>

They will be in touch soon

<p>

<div class="alert alert-info">
	<i class="fa fa-phone" style="font-size:150%"></i>
	If you have any questions, please don’t hesitate to call on 01603 561110 quoting Ref <span class="badge" data-bind="text:appId">{}</span>
</div>

<p>
Our office is open:
<p>

<table class="table">
	<tr>
		<td>Monday-Thursday:	</td><td>9am to 8pm</td>
	</tr><tr>
		<td>Friday:	</td><td>9am to 6pm</td>
	</tr><tr>
		<td>Saturday:	</td><td>9am to 1pm</td>
	</tr>
</table>

<p>
<b>Thank you for choosing <span data-bind="text:cfg.siteBrandName">{}</span></b>
			
		</div>
	</div>
</div>