<div class="container text">
	<div class="row">
		<div class="col-xs-12">

			<!-- Embedding Banner: -->
			<section data-bind="compose:'gl/banner.html'"></section>



<h1>TERMS AND CONDITIONS</h1>

<h2>Website Terms and Conditions</h2>

 

Last updated: 1st July 2015
<p>

<h4>1    Introduction</h4>
<p>

1.1    Match the Cash Limited t/a guarantorloan.co.uk (“we”, “us” or “our”) provides a platform (the “Platform”) via www.guarantorloan.co.uk (the “Website”) for lending and borrowing transactions conducted between our customers. We are a limited liability company registered in England and Wales under company number 08667447 and have our registered office at Acre House, 11/15 William Road, London, NW1 3ER. 
<p>

1.2    These website terms and conditions (the “Terms”) apply to borrowers, lenders, guarantors, and anyone simply browsing the Website. Please read the Terms carefully. The Terms (together with the documents referred in the Terms) set out the basis on which you may make use of the Website. By using the Website, you indicate that you accept the Terms and that you agree to abide by them. If you do not agree to the Terms, you must not use the Website.
<p>

1.3    Your attention is particularly drawn to the following:
<p>

1.3.1    our Privacy and Cookies Policy, which tells you how we use your personal data and other information we collect about you, and about the cookies that we use on the Website; and
<p>

1.3.2    our Liability to you (paragraph 5).  
<p>

1.4    In the Terms:
<p>

1.4.1    “Borrower Terms and Conditions” means the terms and conditions applicable to any borrower which govern their membership of the Platform and how to request and receive loans;
<p>

1.4.2    “Lender Terms and Conditions” means the terms and conditions applicable to any lender which govern their membership of the Platform and how to lend money;
<p>

1.4.3    “Loan Agreement” means any loan agreement or other arrangement concluded between a borrower and us (as the agent for and on behalf of certain lenders) through the Platform; and
<p>

1.4.4    “Guarantee and Indemnity” means the guarantee and indemnity agreement concluded between a guarantor of a borrower and us (as the agent for and on behalf of certain lenders) through the Platform.
<p>

<h4>2    Our Contract</h4>
<p>

2.1    The Terms only deal with your access to the Website.
<p>

2.2    If you register as a borrower, your borrowing activity through the Platform will be governed by the Borrower Terms and Conditions. Before entering into any Loan Agreement you should make sure that you are happy with the terms of that contract and the Borrower Terms and Conditions and take legal advice if necessary.
<p>

2.3    If you are nominated by a borrower and register as a guarantor, your activities through the Platform will be governed by the Guarantee and Indemnity. Before entering into any Guarantee and Indemnity you should make sure that you are happy with the terms of that contract and take legal advice if necessary.
<p>

2.4    If you register as a lender, your lending activity through the Platform will be governed by the Lender Terms and Conditions. Before entering into any Loan Agreement you should make sure that you are happy with the terms of that contract and the Lender Terms and Conditions and take legal advice if necessary.
<p>

2.5    In the event of any conflict or inconsistency between: 
<p>

2.5.1    the Terms; and either 
<p>

2.5.2    the Borrower Terms and Conditions, the Lender Terms and Conditions or any Loan Agreement,
<p>

the latter will prevail and take precedence.
<p>

<h4>3    Accessing and using the Website</h4>
<p>

3.1    We do not guarantee that the Website, or any content on it, will always be available or be uninterrupted. Access to the Website is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of the Website without notice. We will not be liable to you if for any reason the Website is unavailable at any time or for any period.
<p>
 
3.2    You are responsible for ensuring that all persons who access the Website through your internet connection are aware of the Terms and other applicable terms and conditions, and that they comply with them.  
<p>

3.3    If you are browsing the Website, you may use it for your own personal use. If you have registered as a borrower or a lender on the Platform then you may use the Website for personal or commercial use, depending on your circumstances. However, we cannot guarantee that the Website will stay the same – we might change or remove it or make access to it subject to registration or charges.
<p>

3.4    Any and all personal information you provide to us via the Website may be collected, stored, processed and used in accordance with our Privacy and Cookies Policy.
<p>

3.5    The Website is directed to people residing in the United Kingdom. We do not represent that content available on or through the Website is appropriate or available in other locations. We may limit the availability of the Website or any service or product described on the Website to any person or geographic area at any time. 
<p>

3.6    You may use the Website only for lawful purposes. You must not use the Website:
<p>

3.6.1    in any way that breaches any applicable local, national or international law or regulation;
<p>

3.6.2    in any way that is unlawful or fraudulent or has any unlawful or fraudulent purpose or effect; or
<p>

3.6.3    to knowingly transmit or introduce viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful and designed to adversely affect the operation of any computer software or hardware.
<p>

3.7    You agree not to access without authority, interfere with, damage or disrupt:
<p>

3.7.1    any part of the Website;
<p>

3.7.2    any equipment, network or server on which the Website is stored; 
<p>

3.7.3    any software used in the provision of the Website; or 
<p>

3.7.4    any equipment, network or software owned or used by any third party.
<p>

<h4>4    Intellectual Property Rights </h4>
<p>

4.1    We are the owner or the licensee of all intellectual property rights in the Website, and in the material and documents published on it, including the Borrower Terms and Conditions, the Lender Terms and Conditions, the Loan Agreement, and the Guarantee and Indemnity. Those works are protected by copyright and other intellectual property rights. All such rights are reserved. 
<p>

4.2    You shall not obtain any right, title or interest in any of the content on the Website.
<p>

4.3    You must not modify the paper or digital copies of any materials and documents you have printed off or downloaded in any way from the Website, and you must not use any illustrations or graphics separately from any accompanying text. 
<p>

4.4    You must not use any part of the content on the Website for commercial purposes without obtaining a licence to do so from us or our licensors. 
<p>

<h4>5    Our liability to you </h4>
<p>

5.1    Nothing in the Terms shall exclude or limit our liability for:
<p>

5.1.1    death or personal injury arising from our negligence;
<p>

5.1.2    fraud or fraudulent misrepresentation; or
<p>

5.1.3    any other liability that cannot be excluded or limited by law.
<p>

5.2    We will not be liable to any user of the Website for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
<p>

5.2.1    use of, or inability to use, the Website; or
<p>

5.2.2    use of or reliance on any content displayed on the Website. 
<p>

5.3    We provide a service and platform to facilitate access to finance. The content and material available via the Platform is for informational purposes only and should not be regarded as an offer, solicitation, invitation, advice or recommendation to buy or sell investments, securities or any other financial services or banking product. If you are unsure about whether a product is suitable you should contact an independent financial adviser.
<p>

5.4    We are not responsible to you for any:
<p>

5.4.1    loss of profits or contracts;
<p>

5.4.2    loss of revenue;
<p>

5.4.3    loss of business; 
<p>

5.4.4    loss of goodwill; 
<p>

5.4.5    business interruption; 
<p>

5.4.6    wasted management or office time; 
<p>

5.4.7    loss of anticipated savings; 
<p>

5.4.8    loss caused by circumstances outside our control; or
<p>

5.4.9    loss or damage that was caused by your breach of the Terms, 
whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.
<p>

5.5    We will not be liable for any loss or damage caused by a virus or any other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Website or to your downloading of any content on it, or on any website linked to it.
<p>

<h4>6    Linking</h4>
<p>

1.1.    The Website may include third-party advertising and links to other websites. Please note that these websites have their own privacy policies and website terms and conditions. We do not accept any responsibility or liability for these policies. Please check their privacy policies and their website terms and conditions when you visit them and before you submit any personal information to these websites. 
<p>

6.1    You may link to the homepage of the Website from another website provided you:
<p>

6.1.1    do so in a way that is fair and legal and dose not damage our reputation or take advantage of it;
<p>

6.1.2    do not create frames or any other border around the Website;
<p>

6.1.3    comply with all relevant laws and regulations on the website or platform you are linking from; and
<p>

6.1.4    do not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
<p>

<h4>7    Disputes</h4>
<p>

7.1    The Terms are governed by English law. If we have a dispute regarding your use of the Website or the Terms, you and we shall submit to the exclusive jurisdiction of the English courts. However, if you are using the Website as a consumer, you will have the right to have your dispute or claim heard by the courts in your home jurisdiction.
<p>
 
<h4>8    Contact us</h4>
<p>

8.1    If you have any questions about any aspect of this policy or do not agree with it, please write to us at Acre House, 11/15 William Road, London, NW1 3ER or email us at customerservice@guarantorloan.co.uk
<p>
 
<h2>Borrower Terms and Conditions</h2>

<h4>1    INTRODUCTION</h4>
<p>

1.1    Match the Cash Limited (“Match the Cash”, “we”, “us”) is a limited liability company incorporated in England and Wales with company number 08667447. Our registered office is at Acre House, 11/15 William Road, London, NW1 3ER.
<p>

1.2    Match the Cash is authorised and regulated by the Financial Conduct Authority (“FCA”) and currently has an interim permission to operate an electronic system in relation to lending (No. 661304). We are also registered with the Information Commissioner’s Office under registration number ZA055459.
<p>

1.3    We provide a platform (the “Platform”) via www.guarantorloan.co.uk (the “Website”) for lending and borrowing transactions conducted between our customers.
<p>

1.4    These terms and conditions explain how you may use the Platform to borrow money from Lenders.
<p>

1.5    Your attention is particularly drawn to the following:
<p>
<ul>
	<li>The key information and risks of borrowing on the Match the Cash Platform (see clause 3).</li>
	<li>The missed payments and default procedures of the Match the Cash Platform (see clause 10).</li>
	<li>We have a limit on our liability to you (see clause 12.2).
	<li>You are liable to us for any breach of these terms and conditions (see clause 12.3).</li>
	<li>Your right to take any complaint you may have to the Financial Ombudsman (see clause 20).</li>
</ul>
 

<h4>2    EFFECT OF THESE TERMS AND CONDITIONS</h4>
<p>

2.1    By agreeing to these terms and conditions and/or by continued use of the Platform, you are bound by the entirety of these terms and conditions. The other agreements, documents and policies which govern your use of the Platform are as follows:
<p>

(a)    the Website terms and conditions;<br>
(b)    our Privacy and Cookies Policy, which explains how we collect and use your personal data and how we use cookies on the Website; and<br>
(c)    any Loan Agreement which you enter into in accordance with these terms and conditions.<br>

<p>
2.2    If you do not agree to these terms and conditions or any Platform Agreement, you must stop using this Platform immediately.
<p>

2.3    References in these terms and conditions to “we”, “us” and “our” mean or refer to Match the Cash in its capacity as operator of the Platform, unless otherwise indicated. References to “systems” or “Platform” means the Platform, any online services provided by us and any data managed by, displayed on or transmitted from such services. References to “you” and “your” mean a user of the Platform and the borrowing services provided via our systems. Capitalised terms are defined in clause 26 of these terms and conditions.
<p>

2.4    We expect to need to update or amend these terms and conditions from time to time to:
<p>

(a)    comply with law or regulations; or<br>
(b)    meet our changing business requirements.<br> 
We may make such changes without your specific agreement only where those updates are required to comply with law or regulations or are of an immaterial and routine nature.  We will give you advanced notice of such updates or amendments and will post them on the Platform so you can view them when you next log in. 
<p>

2.5    “By continuing to use the Platform, you agree to be bound by the terms of any updates and amendments implemented in accordance with clause 2.4. However, if we amend these terms and conditions between the time you make a Loan Request and the time that a Loan is made to you, that Loan Request and any Loan made further to it will be subject to these terms and conditions as they were before that amendment was made. 
<p>

2.6    If there is any inconsistency between these terms and conditions and any Platform Agreement (except a Loan Agreement), these terms and conditions will prevail. 
<p>

2.7    Please read these terms and conditions carefully and print a copy for your future reference.
<p>

<h4>3    KEY INFORMATION AND RISKS</h4>
<p>

3.1    Each Loan Agreement is a separate agreement to these terms and conditions. If there is a conflict between these terms and conditions and such Loan Agreement, such Loan Agreement will prevail.
<p>

3.2    The information on the Platform does not constitute advice, recommendation or an endorsement by us of Loan Offers, Loans or Lenders. 
<p>

3.3    We will not identify you to other Lenders and Borrowers unless required to do so by law, where it is necessary to do so as part of court or other enforcement proceedings for the recovery of amounts due and payable under any Loan Agreement or otherwise in accordance with the provisions of our Privacy and Cookies Policy.
<p>

3.4    By accepting these terms and conditions you acknowledge that:
<p>

(a)    submitting a Loan Application does not in any way constitute an obligation on us to procure funding for you or constitute a warranty from us that funding will be available; and<br>
(b)    interest rates advertised by Match the Cash are indicative only and we do not guarantee that the rates advertised will be available.
<p>
 
3.5    These terms and conditions were last updated on 1st August 2015.
<p>

<h4>4    REQUESTING A LOAN</h4>
<p>

4.1    You can access the Platform to make a Loan Application. 
<p>

4.2    You acknowledge and agree that:
<p>

(a)    after you have selected the loan product you intend to apply for on the Platform, you will be required to provide certain information about yourself and the Guarantor;
<br>(b)    if you submit personal details to the Platform in this way, they will be used by us (or a third party credit reference agency) to: 
<br>(i)    verify your identity and that of the Guarantor;
<br>(ii)    verify whether you are eligible to make a Loan Application for the loan product in question in accordance with our internal policies; and
<br>(iii)    carry out a credit check on you and the Guarantor; and
<br>(c)    when you apply for a Loan we will check the following records about you and the Guarantor (and others where applicable):
<br>(i)    information held by credit reference agencies (“CRAs”) (currently Callcredit Information Group Limited and Equifax Limited);
<br>(ii)    information held by fraud prevention agencies; and
<br>(iii)    information you provide in your Loan Application made via the Platform; and
<br>(d)    to help us decide whether to approve your Loan Application we will conduct a telephone conversation with each of you and the Guarantor in respect of certain factors including identity, affordability and suitability for a Loan; and
<br>(e)    the Guarantor has consented to:
<br>(i)    the submitting by you of the information about the Guarantor to the Platform; and
<br>(ii)    being contacted by us to verify their understanding of their personal responsibilities in respect of the Loan Agreement and in respect of yours, or the Guarantor’s, repayment performance under the Loan Agreement,
 as set out in this clause 4.2. 
<p>
Please see our Privacy and Cookies Policy for more information on how the information that you provide to us will be used. 
<p>

4.3    After a Loan Application is submitted by you, it will not become a Loan Request until it has been reviewed and approved by Match the Cash. 
<p>

4.4    We will consider the information referred to in clause 4.2, together with any additional personal information you provide to us in respect of yourself and the Guarantor to decide whether to lend to you. We will also consider your and the Guarantor’s ability to repay, and credit history and stability factors such as how long each of you and the Guarantor have lived at your and the Guarantor’s present addresses respectively. If false or inaccurate information is provided and fraud is identified, details will be passed to fraud prevention agencies to prevent fraud and money laundering. For more information on how we use your information and what we may disclose about you to CRAs and fraud prevention agencies please see our Privacy and Cookies Policy.
<p>

4.5    To help us decide whether to approve your Loan Application we may have regard to a process called credit scoring obtained from the CRAs. The points allocated under credit scoring are based on a thorough analysis of large numbers of repayment histories over many years. This statistical analysis enables us and/or CRAs to identify characteristics that predict a likelihood of future performance. We believe it is fair and impartial, and helps to produce consistent decisions. It also helps us to determine the affordability of our facilities for you. We try to assess the impact that any borrowing you request may have on your overall financial well-being.
<p>

4.6    Every credit or loan application involves a certain level of repayment risk for a lender, no matter how reliable or responsible an applicant is. Credit scoring helps us to calculate the level of repayment risk for each Borrower and Guarantor based on available information. If that level of risk is unacceptable for us, having regard to your credit score and other matters, we will decline the Loan Application. This simply means that based on the available information, we are not prepared to allow Lenders to take the risk of granting the Loan. We, like other operators of an electronic system in relation to lending and consumer credit lenders generally, are not obliged to accept an application. Different lenders have different lending policies and systems. This means that another operator of an electronic system in relation to lending or consumer credit lender may accept your application, even if we do not.
<p>

4.7    If we are unable to accept your Loan Application, we will tell you. If your Loan Application is declined:
<p>

(a)    as a result of information received from a CRA, we will provide you with details of the agency concerned; or
<br>(b)    because we consider that the Guarantor is not suitable, you may nominate a different Guarantor in which case the process set out in this clause 4 will be repeated in respect of such different Guarantor. 
<br>You may contact us and ask us to reconsider our decision. If you do, we will generally ask you to provide us with additional information that we need but we reserve the right to refuse the Loan Application even if the additional information is provided.  
<p>

4.8    We may amend details you provide on your Loan Application (except information identifying you) at our discretion. You cannot amend your Loan Application once made, except with our written consent.
<p>

4.9    If we approve your Loan Application it will be converted into a Loan Request and we will post it on the Platform.
<p>

4.10    If we do not accept your Loan Application, we may at our discretion choose to make you a counter-offer comprising a proposal for a Loan with a different interest rate or different term (or both) to your original Loan Application (“Loan Counter-Offer”).   The interest rate and term applicable to a Loan Counter-Offer will be allocated by us based on the information referred to at clauses 4.2 and 4.4 above, together with your credit score. A Loan Counter-Offer will remain open on the Platform for acceptance by you for 30 days.  If you do not accept the Loan Counter-Offer during this time then it will lapse and you will need to submit a new Loan Application if you wish to apply to borrow money from Lenders via the Platform.  If the Loan Counter-Offer is accepted by you while it is still open for acceptance it will be converted into a Loan Request and we will post it on the Platform.
<p>

4.11    If we convert your Loan Application into a Loan Request and subsequently suspect that you are or were, at the time of making the Loan Application, in breach of these terms and conditions, we may, at our absolute discretion, withdraw such Loan Request and any further Loan Requests from the Platform.  Any outstanding Loans that have been made via the Platform will continue to the end of their term.
<p>

4.12    Once a Loan Request has been posted on the Platform, you agree to leave the request for that Loan open for acceptance, subject to termination of the Loan Request by us after 30 days, removal of the Loan Request from the Platform for any of the reasons set out in these terms and conditions or your valid withdrawal of the Loan Request in accordance with clause 7 below. 
<p>

4.13    We may determine, at our absolute discretion, when the Platform is open for the posting of Loan Applications and may close the Platform at any time at our absolute discretion.
<p>

<h4>5    FORMATION OF LOAN AGREEMENT </h4>
<p>

5.1    If we convert your Loan Application into a Loan Request, we will determine whether there are sufficient offers to lend from Lender Members to provide to you the full amount of the Loan requested in your Loan Request. 
<p>

5.2    If Match the Cash determines that there are sufficient Loan Offers to provide to you the full amount of the Loan requested in your Loan Request, such Loan shall be known as a “Matched Loan” and the Lender Members Matched to a Matched Loan shall be “Matched Lenders”. In such case, Match the Cash shall notify you that your Loan Request has been accepted and provide a loan agreement setting out the terms and conditions of the Loan and executed by Match the Cash as agent of the Matched Lenders (a “Loan Agreement”).  
<p>

5.3    Upon the making of the notification referred to in clause 5.2 you will have 14 days to accept the terms of the Loan Agreement by electronically signing the Loan Agreement and clicking “I Accept” on the Platform, after which time the offer to take up the Loan pursuant to the Loan Agreement will lapse.  
<p>

5.4    Upon acceptance by you of the terms of the Loan Agreement, the Loan Agreement is formed between (1) you as Borrower and (2) the Matched Lenders. The Loan Agreement will become effective when:
<p>

(a)    the Loan Agreement is executed by you as Borrower and the Guarantee and Indemnity is executed by the Guarantor; and
<p>
(b)    Match the Cash confirms that all other conditions to the Loan Agreement have been satisfied,
provided that at such time there remains sufficient Loan Offers available to provide to you the full amount of the Loan as set out in the Loan Agreement. 
<p>

5.5    If Match the Cash determines that there are insufficient Loan Offers to provide to you the full amount of the Loan requested in your Loan Request, that Loan Request shall remain open until such time as the earlier to occur of:
<p>

(a)    Match the Cash determining that there are sufficient Loan Offers to provide to you the full amount of the Loan requested in the Loan Request, at which point the process referred to in clauses 5.2 to 5.3 shall be followed; 
<br>(b)    you withdrawing the Loan Request via the Platform;
<br>(c)    Match the Cash removing the Loan Request from the Platform; and
<br>(d)    the date falling 30 days after the date the Loan Request is posted via the Platform.
<p>

5.6    Match the Cash may also contact a Borrower to confirm that its Loan Request has been rejected but that it may submit a revised Loan Request on different terms suggested by Match the Cash, at which point the process referred to in clause 5.2 shall be followed. 
<p>

5.7    We do not guarantee that there will be sufficient funds committed by Lenders on the Platform to fully fund Loans.
<p>

5.8    Loan Requests are Matched by time so that Borrowers will be Matched in order of when their Loan Request was placed on the Platform.
<p>

<h4>6    SERVICE FEE</h4>
<p>

6.1    You will be charged a service fee for the account of Match the Cash which shall consist of a percentage of the total amount of your Loan outstanding from time to time (“Service Fee”).  The Service Fee will be payable on a monthly basis at the same time as your scheduled repayments of capital and interest. 
<p>

6.2    The rate at which a Borrower will borrow will be expressed as the annual percentage rate (“APR”), as defined under the Consumer Credit Act 1974 and ancillary legislation, and will be based on the length of the term of the Loan and will be made up of: 
<p>

(a)    the interest rate; and
<br>(b)    the Service Fee.
<p>

6.3    For details of the rate and amount of Service Fee payable on your Loan and of any other fees payable by you in respect of a Loan please refer to the Standard European Consumer Credit Information and the Loan Agreement provided to you as part of the Loan Application process.
<p>

<h4>7    WITHDRAWAL OF A LOAN REQUEST</h4>
<p>

Loan Requests may be withdrawn at any time before they are Matched by cancelling the Loan Request. The cancellation of a Loan Request becomes effective when your instruction to cancel is successfully received and processed by us. 
<p>

<h4>8    LOAN DRAWDOWN</h4>
<p>

8.1    You acknowledge and agree that once:
<p>

(a)    the Loan Agreement is executed by you as Borrower and the Guarantee and Indemnity is executed by the Guarantor; and
<br>(b)    Match the Cash confirms that all other conditions to the Loan Agreement have been satisfied,
provided that at such time there remains sufficient Loan Offers available to provide to you the full amount of the Loan as set out in the Loan Agreement, we shall transfer funds held by us in our segregated client account(s) on behalf of each Matched Lender in the amount of the Loan Amount, less any fees due to us, into the nominated bank account of the Guarantor. 
<p>

<h4>9    INTEREST, REPAYMENTS AND REBATES</h4>
<p>

9.1    The relevant Loan Agreement governs the payment of scheduled repayments of capital, interest and Service Fee. 
<p>

9.2    Provided that you make 12 consecutive repayment instalments in full and on time the Guarantor may be entitled to a rebate of one twelfth of the sum of 12 instalments made.
<p>

<h4>10    MISSED PAYMENTS / DEFAULT BY BORROWER</h4>
<p>

10.1    If you miss, fail to pay or only partially pay a monthly instalment by 11.59pm GMT on the payment date your account will enter arrears. 
<p>

10.2    We will ask for payment from you in accordance with our internal procedures as set out in this clause 10. In certain circumstances, we may act outside and/or ahead of such process to pursue missed payments on a Loan (whether or not in formal default) where we consider this to be in the best interests of the relevant Lenders, whilst treating you with forbearance and due consideration and behaving towards you in a proportionate manner. We will look to recover our reasonable costs and expenses incurred in pursuing the debt.
<p>

10.3    We will try to collect the repayment due from you, including interest and any applicable charges, by Direct Debit and/or continuous payment authority (“CPA”), which is a type of regular automatic payment linked to your bank or credit card account (allowing us to take payments of differing amounts on dates of our choosing), electronically on the scheduled repayment dates (the “Payment Dates”) in accordance with the Loan Agreement. We will contact you and the Guarantor at least three days before the Payment Dates to remind each of you when the scheduled repayment is due. We may do so by email, text or phone.  
<p>

10.4    If the collection by Direct Debit or CPA from you is unsuccessful, we will try to contact you to discuss the situation. 
<p>

10.5    If you inform us that you are unable to make the repayment, due to a change in financial circumstances, or where making the repayment would cause financial hardship, we will endeavour to agree a reasonable repayment plan with you. 
<p>

10.6    Where any payment attempt that we may agree with you on this date fails or we are unable to contact you or you fail to agree to any attempts that we may make to agree a reasonable repayment plan, we will use the debit card details and CPA that you provided to us at the time of the loan application. We will make one further attempt to recover 100% of the amount due between midnight and 1800 from you using the CPA.  
<p>

10.7    If this repayment transaction from you fails, on the first day after the relevant Payment Date, we will make reasonable attempts to contact you to explain to you that we will need to contact the Guarantor because you have failed to meet their repayment obligations.    
<p>

10.8    On the day after the relevant Payment Date, we will then attempt to contact the Guarantor. Where we are able to contact the Guarantor, if the Guarantor agrees to make an immediate repayment on your behalf, we will then attempt to collect 100% of the outstanding amount by debit card using details that the Guarantor provides during our telephone conversation with the Guarantor. We will confirm immediately whether the transaction has been successful. If however the Guarantor informs us that the Guarantor or you are unable to make the repayment due to a change in financial circumstances, or where making the repayment would cause financial hardship, we will endeavour to agree a reasonable repayment plan.
<p>

10.9    Where any payment attempt that we may agree when communicating with the Guarantor fails or we are unable to contact the Guarantor, or the Guarantor fails to agree to any attempts that we may make to agree a reasonable repayment plan, we will use the debit card details and CPA the Guarantor provided to us at the time of your loan application. 
<p>

10.10    If after this we have been unable to collect repayment we will make no further CPA attempts from yourself or the Guarantor while we make further attempts to contact both of you to arrange an alternative repayment plan. If after this period we have been unable to contact either of you, or either of you has refused our attempts to agree a reasonable repayment plan, then we will continue to enforce the debt.
<p>

10.11    Throughout the period that your account remains in arrears, we will make reasonable attempts to contact both you and the Guarantor to discuss why repayment remains outstanding. Where either party is, or both parties are, experiencing financial difficulty we will exercise forbearance. 
<p>

10.12    You may cancel the CPA provided to us by contacting your bank directly, or by contacting us (using the contact details provided above). If you do cancel it however, you, and the Guarantor, will still owe any outstanding debt. You will need to provide us with an alternative method of repayment on the agreed Payment Date to avoid us approaching the Guarantor and to avoid going into default and incurring unnecessary default charges.
<p>

10.13    The Guarantor may cancel the CPA that they provide us with when the Guarantor enters into the Guarantee and Indemnity, by contacting the Guarantor’s own bank directly, or by contacting us (using the contact details provided above). If the Guarantor cancels the CPA, the Guarantor will still owe us any outstanding debt, on your behalf, and the Guarantor will need to provide us with an alternative method of collecting repayment from the Guarantor.
<p>

<h4>11    MATCH THE CASH AS AGENT OF THE LENDERS</h4>
<p>

11.1    Match the Cash acts as the Lenders’ agent under and in connection with the Platform Agreements.
<p>

11.2    Our role as agent of the Lenders is to Match Lenders to you via the Platform, enter into a Loan Agreement on the Lenders’ behalf, enter into a Guarantee and Indemnity with the Guarantor on the Lenders’ behalf, and to facilitate the repayment and collection of principal, payments of interest and all other sums due under or in connection with the Platform Agreements.  
<p>

<h4>12    LIABILITY</h4>
<p>

12.1    Nothing in these terms and conditions shall exclude or limit our liability for:
<p>

(a)    personal injury or death;
<br>(b)    fraud or fraudulent misrepresentation; or
<br>(c)    any other liability the exclusion or limitation of which is not permitted by applicable law or regulation,
and each of the following sub-clauses in this clause 12 are subject to this principle.
<p>
12.2    Match the Cash shall be responsible for loss or damage which you may suffer that is a foreseeable result of our breach of the Platform Agreements or our negligence (including any breach or negligence committed by any of our officers, employees or agents) but: 
<br>(a)    Match the Cash shall not be responsible for any loss or damage that was not an obvious consequence of Match the Cash’s breach or that was not contemplated by Match the Cash and you at the time you accepted these terms and conditions;
<br>(b)    Match the Cash shall not be responsible for any loss or damage that was caused by your breach of the Platform Agreements;  
<br>(c)    Match the Cash is not liable, whether in contract, tort (including negligence or breach of statutory duty), misrepresentation or otherwise in connection with these terms and conditions for any:
<p>
(i)    loss of profits or contracts;
<br>(ii)    loss of revenue;
<br>(iii)    loss of business; 
<br>(iv)    loss of goodwill; 
<br>(v)    business interruption; 
<br>(vi)    wasted management or office time; 
<br>(vii)    loss of anticipated savings; or
<br>(viii)    Disruption Event, howsoever arising.
<p>
12.3    You shall be liable to us and repay us for any loss or damage suffered by us as a result of any breach of these terms and conditions or any Platform Agreement by you, or any fraudulent use of the Platform undertaken by you.
<p>

12.4    The provisions of this clause 12 apply to Match the Cash in each of its capacities under the Platform Agreements.
<p>

<h4>13    DISRUPTION EVENT</h4>
<p>

13.1    For the purposes of this clause, “Disruption Event” shall be defined as “any circumstances outside our control including but not limited to any interruptions or failures relating to internet service providers, internet signal, connections, electricity providers, configurations of Lenders’ and Borrowers’ computers, any acts of god, flood, drought, earthquake or other natural disaster, any collapse of buildings, fire, explosion or accident, any act of terrorism, civil war or commotion, riots or any law or any action taken by a government or public authority, including without limitation imposing failing to grant a necessary licence or consent.”
<p>

13.2    We shall not be in breach of any Platform Agreement nor liable for delay in performing or failure to perform any of our obligations under any Platform Agreement if such delay or failure results from a Disruption Event.
<p>

13.3    If the period of delay or non-performance continues for forty Business Days then you or we may terminate any agreement made between us by giving five Business Days written notice to the other party.
<p>

13.4    The provisions of this clause 13 apply to Match the Cash in each of its capacities under the Platform Agreements.
<p>

<h4>14    INTELLECTUAL PROPERTY RIGHTS</h4>
<p>

14.1    Subject to clause 14.3 below, as between you and us, we own all Intellectual Property Rights existing in or in relation to the Platform.
<p>

14.2    If and to the extent that any Intellectual Property Rights existing in or in relation to the Platform vest in you by operation of law or otherwise, you agree to do any and all such acts and execute any and all such documents as we may reasonably request in order to assign such Intellectual Property Rights back to us and provide us with a waiver of moral rights in such Intellectual Property Rights.
<p>

14.3    You shall retain ownership of all copyright in data you upload or submit to the Platform. You grant us a world-wide exclusive, royalty-free, non-terminable licence to use, copy, distribute, publish and transmit such data in any manner.
<p>

14.4    We do not warrant or represent that the content of the Platform does not infringe the Intellectual Property Rights (or any other rights) of any third party.
<p>

<h4>15    PRIVACY</h4>
<p>

Any and all personal information you provide to us (in any capacity) via the Platform may be collected, stored, processed and used in accordance with our current Privacy and Cookies Policy.  
<p>

<h4>16    SECURITY</h4>
<p>

16.1    You are responsible for all information and activity on the Platform that occur under your account (including the actions of your employees, sub-contractors or agents) whether or not you authorise such activity. Any breach of security, loss, theft or unauthorised use of a username, password or security information must be notified to us immediately using the Platform. 
<p>

16.2    You agree not to adapt or circumvent the systems in place in connection with the Platform, nor access our systems other than by using the credentials assigned to you and by following the instructions that we have provided for that type of connection.
<p>

16.3    We reserve the right not to act on your instructions where we suspect that the person issuing such instructions is not you or we suspect illegal or fraudulent activity or unauthorised use.
<p>

<h4>17    NOTICE AND COMMUNICATIONS</h4>
<p>

17.1    Unless otherwise agreed between us, all notices and communications between you and us (in any capacity) shall be made using the Platform.  The Platform will send you an email (to the email address which you have uploaded to the Platform) upon transmission by us (in any capacity) of any messages to you.
<p>

17.2    All notices and communications shall be deemed received upon transmission.
<p>

<h4>18    THIRD PARTY RIGHTS</h4>
<p>

18.1    A person who is not a party to these terms and conditions has no rights (whether under the Contracts (Rights of Third Parties) Act 1999 or otherwise) to enforce any provision of these terms and conditions.
<p>

18.2    The rights of the parties to terminate, rescind or agree any variation, waiver or settlement under these terms and conditions are not subject to the consent of any person that is not a party to these terms and conditions.
<p>

<h4>19    GENERAL TERMS</h4>
<p>

19.1    You represent that all information provided to us (in any capacity) in the course of submitting a Loan Application on the Platform or in any other dealings you may have with us is true and accurate in all respects.  You will update us if any of the information you provide to us changes or proves to be inaccurate.
<p>

19.2    The information provided on the Platform is directed solely at and is for use solely by persons and organisations that meet the criteria set out in these terms and conditions and the equivalent criteria set out in the Lender Terms and Conditions. The content provided via the Platform is not intended for distribution to, or use by, any person or entity in any jurisdiction where such distribution or use would be contrary to applicable law or regulation.
<p>

19.3    We have the right to immediately and without notice set off any liability or debt that is owed by you to either us (in any capacity) or any of our affiliates.
<p>

19.4    Any determination to be made by Match the Cash (in any capacity) in accordance with any Platform Agreement shall be made in Match the Cash’s sole discretion.
<p>

19.5    You hereby agree to be bound by the Website terms and conditions.
<p>

19.6    You agree to assign to Match the Cash any Intellectual Property Rights (including copyright) in any Loans taken by you on the Platform. Match the Cash owns all rights in any price data and related content on the Platform. Your registration and use of the Platform confers no rights whatsoever to the content and related Intellectual Property Rights contained in the Platform. You agree not to monitor, use or copy our web pages or any content on the Platform, including without limitation any price data. Any unauthorised use or reproduction may be prosecuted.
<p>

<h4>20    COMPLAINTS PROCEDURE </h4>
<p>

20.1    We consider a complaint as being defined as an expression of dissatisfaction made by you in relation to any of the services we provide. In the event that you make a complaint, we will make every effort to rectify the problem as soon as practicably possible. We have a complaints handling policy and procedure, a copy of which is available on request.
<p>

20.2    If you feel that your complaint or grievance has not been dealt with satisfactorily, you have the right to take your complaint to the Financial Ombudsman. If you have not received a final response letter from us within eight weeks of raising your complaint, or the final response letter has been received but is not satisfactory to you, you will need to bring your complaint to the Financial Ombudsman within six months. You can contact the Financial Ombudsman at The Financial Ombudsman Service, Exchange Tower, London, E14 9SR or by calling them on 0800 023 4 567.
If you do refer your complaint to the Financial Ombudsman Service, this will not affect your right to take legal action. 
<p>

<h4>21    SEVERABILITY OF PROVISIONS</h4>
<p>

If at any time any part of these terms and conditions is held to be or becomes void or otherwise unenforceable for any reason under any applicable law, the same shall be deemed omitted from these terms and conditions and the validity and/or enforceability of the remaining provisions of these terms and conditions shall not in any way be affected or impaired as a result of that omission.
<p>

<h4>22    ENTIRE AGREEMENT</h4>
<p>

22.1    The Platform Agreements (as entered into and updated from time to time) contain the entire agreement between the parties in relation to their subject matter and supersede any prior arrangement, understanding written or oral agreements between the parties in relation to such subject matter.  
<p>

22.2    The parties acknowledge that these terms and conditions and the Platform Agreements have not been entered into wholly or partly in reliance on, nor has either party been given, any warranty, statement, promise or representation by the other or on its behalf other than as expressly set out in the Platform Agreements. 
<p>

22.3    Each party agrees that the only rights and remedies available to it arising out of or in connection with any department or of any regulatory, self-regulatory or other authority or organisation.
<p>

		</div>
	</div>
</div>