<!--dialog-textbox.html-->
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: onCancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" data-bind="text: Title">
		<!-- TITLE -->
			Edit value
		<!-- TITLE -->
		</h4>
	</div>
	<form data-bind="submit: onSubmit" class="metaclass-dialog-form">
		<div class="modal-body">
		<!-- BODY -->
			<input type="text" data-bind="value: StrBuffer"/>
		<!-- BODY -->
		</div>
		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: onSubmit" class="btn btn-default">Save changes</button>
			<button data-bind="click: onCancel" class="btn btn-default">Close</button>
		<!-- FOOTER -->
		</div>
	</form>
</div><!-- /.modal-content -->